html{
  scroll-behavior: smooth;
}
.logo {
  font-family: 'Orbitron', sans-serif;
}
body{
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden !important;


}

header{
  font-family: 'Montserrat', sans-serif;
}


.section{
  background: rgba(0,0,0,0.3) !important;
}

.navbar
{
  background: rgba(0,0,0,0.3);
  backdrop-filter: blur(30px) !important;
  z-index: 100;
}


nav ul li a.active{
  color: #01ffe9;
}

img{
  position: relative !important;
  z-index: 0 !important;
}

#hero{
  background-image: url(../img/Dark_3d_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#services{
  background-image: url(../img/Dark_3d_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


.service-icon{
  /* background: linear-gradient(135deg, rgba(255,255,255,0.2), rgba(255,255,255,0)); */
  background: rgba(0, 0, 0, 0.233);
  backdrop-filter: blur(20px) !important;
  box-shadow: 5px 10px 18px #181818b9;
  transform-style: preserve-3d;
  perspective: 1000px;
  transform:translateZ(30px);
}


.service-icon:hover{
  box-shadow: 5px 10px 18px #161616;
}

.ml10 {
  position: relative;
  font-weight: 700;
  font-size: 3em;
}

.ml10 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml10 .letter {
  display: inline-block;
  line-height: 1em;
  transform-origin: 0 0;
}

.ml11 {
  font-weight: 700;
  font-size: 3em;
}

.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #fff;
  transform-origin: 0 50%;
}

.ml11 .line1 {
  top: 0;
  left: 0;
}

.ml11 .letter {
  display: inline-block;
  line-height: 1em;
}

.hero{
  width: 200px;
}



@media only screen and (max-width: 767px) {
 nav ul {
      background: rgba(0,0,0,0.8);
      backdrop-filter: blur(30px) !important;
      margin-top: 14px !important;
      z-index: 100 !important;
  }
}
