@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.snap {
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }

  .snap::-webkit-scrollbar {
    display: none;
  }

  .snap > img {
    scroll-snap-align: center;
  }

  body {
    font-family: "Inter", sans-serif;
  }

  .navbarTogglerActive > span:nth-child(1) {
    @apply top-[7px];
    transform: rotate(45deg);
  }
  .navbarTogglerActive > span:nth-child(2) {
    @apply opacity-0;
  }
  .navbarTogglerActive > span:nth-child(3) {
    @apply top-[-8px] rotate-[135deg];
  }

  input:checked ~ .dot {
    @apply translate-x-full bg-primary;
  }

  input:checked ~ .dot .active {
    @apply block;
  }

  input:checked ~ .dot .inactive {
    @apply hidden;
  }

  input#toggleFour:checked ~ .box {
    @apply bg-primary;
  }
  input#toggleFour:checked ~ .dot {
    @apply translate-x-full bg-white;
  }

  input#toggleFive:checked ~ .dot {
    @apply translate-x-full bg-white;
  }
  input#toggleFive:checked ~ .dot span {
    @apply bg-primary;
  }

  input#toggleSix:checked ~ .dot {
    @apply translate-x-full bg-white;
  }

  input#toggleEight:checked ~ .box {
    @apply bg-[#EAEEFB];
  }
  input#toggleEight:checked ~ .dot {
    @apply bg-primary;
  }
  input#toggleEight:checked ~ .dot span {
    @apply border-white bg-primary;
  }

  input#toggleNine:checked ~ .dot span {
    @apply bg-white;
  }
  input#toggleNine:checked ~ .dot {
    @apply bg-primary;
  }

  input:checked ~ .box {
    @apply border-primary;
  }
  input#checkboxLabelOne:checked ~ .box {
    @apply border-primary;
  }
  input#checkboxLabelOne:checked ~ .box .dot {
    @apply bg-primary;
  }

  input#checkboxLabelTwo:checked ~ .box span {
    @apply opacity-100;
  }

  input#checkboxLabelThree:checked ~ .box span {
    @apply opacity-100;
  }

  input#checkboxLabelFour:checked ~ .box {
    @apply border-primary;
  }
  input#checkboxLabelFour:checked ~ .box span {
    @apply bg-primary;
  }

  input#checkboxLabelFive:checked ~ .box {
    @apply bg-primary;
  }

  .shape-gradient {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.08) 0%,
      rgba(196, 196, 196, 0) 100%
    );
  }
